.banner__container--size{
    height: 60vh;
}
#banner>div>img{
    height: 100%;
    object-fit: cover;    
}
nav div .navbar-nav b {
    color: green;
}

@layer footer {
    footer {
        font-size: 0.9rem;
        background: rgb(42, 37, 132);
    }
    footer a {
        color: aliceblue !important;
    }
}